* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
}

ul {
  list-style: none;
}

a {
  all: unset;
  cursor: pointer;
}

.header-bg {
  background: #000;
}

.header {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  max-width: 116rem;
  margin-inline: auto;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
}

.header-menu a {
  display: inline-block;
  padding: 1.6rem 0;
  color: #ffffff;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 3.2rem;
  position: relative;
}

.header-menu a::after {
  content: "";
  display: block;
  height: 0.2rem;
  width: 0;
  background: #ffffff;
  margin-top: 0.2rem;
  transition: 0.3s;
  position: absolute;
}

.header-menu a:hover::after {
  width: 100%;
}

@media (max-width: 768px) {
  .header-menu {
    gap: 2rem;
  }

  .header-menu a {
    background: #111111;
    padding: 1.2rem 1.6rem;
    border-radius: 0.4rem;
  }

  .header-menu a:hover {
    background: #2e2e2e;
  }

  .header a::after {
    display: none;
  }
}

@media (max-width: 600px) {
  .header-menu {
    gap: 1.2rem;
  }

  .header-menu a {
    padding: 0.8rem 1.2rem;
    font-size: 1.4rem;
  }
}
